#header {
  background-color: purple;
}

form {
  margin-left: 12%;
  border-color: purple;
}

a {
  display: flex;
  align-content: space-between;

}

#navbar {
    background-color: purple;
    display: flex;
    align-content: space-around;
    justify-content: center;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#whitebox {
  display: block;
  background-color: white;
}

#yellowbox {
  background-color: #F5F5DC;
}
